{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "printWidth": 120,
  "proseWrap": "never",
  "singleAttributePerLine": true,
  "bracketSameLine": true
}
